<p class="m-3 align-items-center answer"><%= @answer %></p>

<form class="form-label m-3 align-items-center start" action="/new" method="get">
<input class="btn btn-primary" name="new" type="submit" value="PLAY AGAIN">
</form>
